# UltraInsight Project Code
## Description


### Setup

In [132]:
#setup
import numpy as np # linear algebra
import pandas as pd # data processing

#insert and read file
filename = "../archive (2)/TWO_CENTURIES_OF_UM_RACES.csv"
df = pd.read_csv(filename)
print(df)
df.head()

/var/folders/r6/y72_rzjs01v5mlmhssn_w27h0000gn/T/ipykernel_5858/1667280578.py:7: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename)

         Year of event Event dates                                Event name  \
0                 2018  06.01.2018                       Selva Costera (CHI)
1                 2018  06.01.2018                       Selva Costera (CHI)
2                 2018  06.01.2018                       Selva Costera (CHI)
3                 2018  06.01.2018                       Selva Costera (CHI)
4                 2018  06.01.2018                       Selva Costera (CHI)
...                ...         ...                                       ...
7461190           1995  00.00.1995                 La SainteLyon 65 km (FRA)
7461191           1995  00.00.1995                 La SainteLyon 65 km (FRA)
7461192           1995  00.00.1995  Szombathely 24 hours running Race  (HUN)
7461193           1995  00.00.1995  Szombathely 24 hours running Race  (HUN)
7461194           1995  00.00.1995  Szombathely 24 hours running Race  (HUN)

        Event distance/length  Event number of finishers Athlete performance  \
0                        50km                         22           4:51:39 h
1                        50km                         22           5:15:45 h
2                        50km                         22           5:16:44 h
3                        50km                         22           5:34:13 h
4                        50km                         22           5:54:14 h
...                       ...                        ...                 ...
7461190                  65km                          2           4:33:20 h
7461191                  65km                          2           6:05:15 h
7461192                   24h                          3          241.000 km
7461193                   24h                          3          228.000 km
7461194                   24h                          3          224.000 km

               Athlete club Athlete country  Athlete year of birth  \
0                     Tnfrc             CHI                 1978.0
1        Roberto Echeverría             CHI                 1981.0
2         Puro Trail Osorno             CHI                 1987.0
3                  Columbia             ARG                 1976.0
4            Baguales Trail             CHI                 1992.0
...                     ...             ...                    ...
7461190                 NaN             FRA                    NaN
7461191                 NaN             FRA                    NaN
7461192           *Budapest             HUN                 1950.0
7461193             *Szeged             HUN                 1959.0
7461194               *Pecs             HUN                 1958.0

        Athlete gender Athlete age category Athlete average speed  Athlete ID
0                    M                  M35                10.286           0
1                    M                  M35                 9.501           1
2                    M                  M23                 9.472           2
3                    M                  M40                 8.976           3
4                    M                  M23                 8.469           4
...                ...                  ...                   ...         ...
7461190              M                  NaN               14268.0     1151060
7461191              F                  NaN               10678.0     1073520
7461192              M                  M40               10042.0     1047373
7461193              M                  M35                9500.0      380150
7461194              M                  M35                9333.0     1070482

[7461195 rows x 13 columns]

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID
0,2018,06.01.2018,Selva Costera (CHI),50km,22,4:51:39 h,Tnfrc,CHI,1978.0,M,M35,10.286,0
1,2018,06.01.2018,Selva Costera (CHI),50km,22,5:15:45 h,Roberto Echeverría,CHI,1981.0,M,M35,9.501,1
2,2018,06.01.2018,Selva Costera (CHI),50km,22,5:16:44 h,Puro Trail Osorno,CHI,1987.0,M,M23,9.472,2
3,2018,06.01.2018,Selva Costera (CHI),50km,22,5:34:13 h,Columbia,ARG,1976.0,M,M40,8.976,3
4,2018,06.01.2018,Selva Costera (CHI),50km,22,5:54:14 h,Baguales Trail,CHI,1992.0,M,M23,8.469,4

### Data Preprocessing and Cleaning

In [133]:
# select most recent 10 years
year_cutoff = df['Year of event'].max() - 10
print(len(df))

df = df.dropna()
df = df.drop_duplicates()
print(len(df))

year_inds = df['Year of event'] >= year_cutoff
df = df[year_inds]
print(len(df))

print(df["Event distance/length"])

7461195
4419663
2934506
0          50km
1          50km
2          50km
3          50km
4          50km
           ...
6823922    50km
6823923    50km
6823924    50km
6823925    50km
6823926    50km
Name: Event distance/length, Length: 2934506, dtype: object

In [134]:
#select km and mi races only, not timed ones
distance = df["Event distance/length"]
non_time_km = distance.str.contains('km', regex=False)
non_time_mi = distance.str.endswith('mi')

#setup 2 different dataframes, one with km and one with mi races
df1 = df[non_time_km]
df2 = df[non_time_mi]
print(len(df1))
print(len(df2))

#Take the mi, mile, and miles races and strip them of their ending letters
conversion_kit = df2["Event distance/length"]
print(conversion_kit)
miles = conversion_kit.str.rstrip('miles')
miles = miles.str.rstrip('mile')
miles = miles.str.rstrip('mi')
print(miles)

#manual cleaning up of commas to convert to string floats
miles = miles.str.replace('37,5','37.5')
miles = miles.str.replace('52,5','52.5')
miles = miles.str.replace('52,4','52.4')
miles = miles.str.replace('67,5','67.5')

#convert mi to km
mi_to_km = 1.60934 * miles.astype(float)
print('In kms')
print(mi_to_km)

2377292
339092
55          50mi
56          50mi
57          50mi
58          50mi
59          50mi
           ...
6822564    120mi
6822565    120mi
6822566    120mi
6822567    120mi
6822568    120mi
Name: Event distance/length, Length: 339092, dtype: object
55          50
56          50
57          50
58          50
59          50
          ...
6822564    120
6822565    120
6822566    120
6822567    120
6822568    120
Name: Event distance/length, Length: 339092, dtype: object
In kms
55          80.4670
56          80.4670
57          80.4670
58          80.4670
59          80.4670
             ...
6822564    193.1208
6822565    193.1208
6822566    193.1208
6822567    193.1208
6822568    193.1208
Name: Event distance/length, Length: 339092, dtype: float64

In [135]:
#remove km ending from km df
conversion = df1["Event distance/length"]
#conversion = conversion.rename(columns = {"Event distance/length" : "Event distance"})
#print(conversion)
km = conversion.str.rstrip('kilometers')
km = km.str.rstrip('kilometer')
km = km.str.rstrip('km')
#print(km)

#combine both dfs
merged_km = [mi_to_km, km]
distance = pd.concat(merged_km)
#distance = distance.rename(columns = {"Event distance/length" : "Event distance"})
print(distance)


#reintegrate back into main dataframe
df["Event distance/length"].update(distance)
#df["Event distance/length"] = df["Event distance/length"].method(distance)
print(df)

55         80.467
56         80.467
57         80.467
58         80.467
59         80.467
            ...
6823922        50
6823923        50
6823924        50
6823925        50
6823926        50
Name: Event distance/length, Length: 2716384, dtype: object
         Year of event Event dates                         Event name  \
0                 2018  06.01.2018                Selva Costera (CHI)
1                 2018  06.01.2018                Selva Costera (CHI)
2                 2018  06.01.2018                Selva Costera (CHI)
3                 2018  06.01.2018                Selva Costera (CHI)
4                 2018  06.01.2018                Selva Costera (CHI)
...                ...         ...                                ...
6823922           2015  09.10.2015  West Virginia Trilogy 50 km (USA)
6823923           2015  09.10.2015  West Virginia Trilogy 50 km (USA)
6823924           2015  09.10.2015  West Virginia Trilogy 50 km (USA)
6823925           2015  09.10.2015  West Virginia Trilogy 50 km (USA)
6823926           2015  09.10.2015  West Virginia Trilogy 50 km (USA)

        Event distance/length  Event number of finishers Athlete performance  \
0                          50                         22           4:51:39 h
1                          50                         22           5:15:45 h
2                          50                         22           5:16:44 h
3                          50                         22           5:34:13 h
4                          50                         22           5:54:14 h
...                       ...                        ...                 ...
6823922                    50                         79           9:40:15 h
6823923                    50                         79           9:49:58 h
6823924                    50                         79           9:49:58 h
6823925                    50                         79           9:53:02 h
6823926                    50                         79          10:22:10 h

               Athlete club Athlete country  Athlete year of birth  \
0                     Tnfrc             CHI                 1978.0
1        Roberto Echeverría             CHI                 1981.0
2         Puro Trail Osorno             CHI                 1987.0
3                  Columbia             ARG                 1976.0
4            Baguales Trail             CHI                 1992.0
...                     ...             ...                    ...
6823922      *Pennsboro, WV             USA                 1951.0
6823923         *Fenton, MI             NED                 1960.0
6823924        *Kimball, MI             USA                 1950.0
6823925     *Cumberland, MD             USA                 1977.0
6823926     *Morgantown, WV             USA                 1976.0

        Athlete gender Athlete age category Athlete average speed  Athlete ID
0                    M                  M35                10.286           0
1                    M                  M35                 9.501           1
2                    M                  M23                 9.472           2
3                    M                  M40                 8.976           3
4                    M                  M23                 8.469           4
...                ...                  ...                   ...         ...
6823922              F                  W60                  5.17      143968
6823923              F                  W50                 5.085      105382
6823924              M                  M60                 5.085      168233
6823925              F                  W35                 5.059       78431
6823926              F                  W35                 4.822      316320

[2934506 rows x 13 columns]

In [136]:
#rename age category
df = df.rename(columns = {"Athlete age category" : "Athlete age"})

#remove letters from in front of ages (W,MU,M)
rm_age_cat = df["Athlete age"]
print(rm_age_cat)
age = rm_age_cat.str.lstrip('MU')
age = age.str.lstrip('M')
age = age.str.lstrip('W')
print(age)

#reintegrate back into main dataframe
df["Athlete age"].update(age)
print(df)

0          M35
1          M35
2          M23
3          M40
4          M23
          ...
6823922    W60
6823923    W50
6823924    M60
6823925    W35
6823926    W35
Name: Athlete age, Length: 2934506, dtype: object
0          35
1          35
2          23
3          40
4          23
           ..
6823922    60
6823923    50
6823924    60
6823925    35
6823926    35
Name: Athlete age, Length: 2934506, dtype: object
         Year of event Event dates                         Event name  \
0                 2018  06.01.2018                Selva Costera (CHI)
1                 2018  06.01.2018                Selva Costera (CHI)
2                 2018  06.01.2018                Selva Costera (CHI)
3                 2018  06.01.2018                Selva Costera (CHI)
4                 2018  06.01.2018                Selva Costera (CHI)
...                ...         ...                                ...
6823922           2015  09.10.2015  West Virginia Trilogy 50 km (USA)
6823923           2015  09.10.2015  West Virginia Trilogy 50 km (USA)
6823924           2015  09.10.2015  West Virginia Trilogy 50 km (USA)
6823925           2015  09.10.2015  West Virginia Trilogy 50 km (USA)
6823926           2015  09.10.2015  West Virginia Trilogy 50 km (USA)

        Event distance/length  Event number of finishers Athlete performance  \
0                          50                         22           4:51:39 h
1                          50                         22           5:15:45 h
2                          50                         22           5:16:44 h
3                          50                         22           5:34:13 h
4                          50                         22           5:54:14 h
...                       ...                        ...                 ...
6823922                    50                         79           9:40:15 h
6823923                    50                         79           9:49:58 h
6823924                    50                         79           9:49:58 h
6823925                    50                         79           9:53:02 h
6823926                    50                         79          10:22:10 h

               Athlete club Athlete country  Athlete year of birth  \
0                     Tnfrc             CHI                 1978.0
1        Roberto Echeverría             CHI                 1981.0
2         Puro Trail Osorno             CHI                 1987.0
3                  Columbia             ARG                 1976.0
4            Baguales Trail             CHI                 1992.0
...                     ...             ...                    ...
6823922      *Pennsboro, WV             USA                 1951.0
6823923         *Fenton, MI             NED                 1960.0
6823924        *Kimball, MI             USA                 1950.0
6823925     *Cumberland, MD             USA                 1977.0
6823926     *Morgantown, WV             USA                 1976.0

        Athlete gender Athlete age Athlete average speed  Athlete ID
0                    M          35                10.286           0
1                    M          35                 9.501           1
2                    M          23                 9.472           2
3                    M          40                 8.976           3
4                    M          23                 8.469           4
...                ...         ...                   ...         ...
6823922              F          60                  5.17      143968
6823923              F          50                 5.085      105382
6823924              M          60                 5.085      168233
6823925              F          35                 5.059       78431
6823926              F          35                 4.822      316320

[2934506 rows x 13 columns]

### Data Analysis

In [163]:
######HELP


#mean paces per race distance
df3 = df["Athlete average speed"]
print(df3)

df3 = df3.str.replace(':','.')
df3.head(10000)
#df3 = df3.str[:-3]

# df3 = df3.str.replace('21.00.00','21.0000')
# df3 = df3.str.replace('20.00.00','20.0000')
# df3 = df3.str.replace('19.00.00','19.0000')
# df3 = df3.str.replace('17.00.00','17.0000')
# df3 = df3.str.replace('12.00.00','12.0000')
# df3 = df3.str.replace('11.00.00','11.0000')
# df3 = df3.str.replace('10.00.00','10.0000')
# df3 = df3.str.replace('09.00.00','09.0000')
# df3 = df3.str.replace('08.00.00','08.0000')
# df3 = df3.str.replace('07.00.00','07.0000')
# df3 = df3.str.replace('06.00.00','06.0000')
# df3 = df3.str.replace('05.00.00','05.0000')
# df3 = df3.str.replace('04.00.00','04.0000')
# df3 = df3.str.replace('03.00.00','03.0000')
# df3 = df3.str.replace('02.00.00','02.0000')
# df3 = df3.str.replace('01.00.00','01.0000')
# df3 = df3.str.replace('00.00.00','00.0000')

# str_to_flt_pace = df3.astype(float)
# mean_paces = str_to_flt_pace.mean()

0          10.286
1           9.501
2           9.472
3           8.976
4           8.469
            ...
6823922      5.17
6823923     5.085
6823924     5.085
6823925     5.059
6823926     4.822
Name: Athlete average speed, Length: 2934506, dtype: object

0        10.286
1         9.501
2         9.472
3         8.976
4         8.469
          ...
15270    11.215
15271      11.2
15272    11.197
15273    11.186
15274    11.184
Name: Athlete average speed, Length: 10000, dtype: object

In [ ]:
#correlation of top 20% in field per race

In [ ]:
#stdev for outliers of pace per race distance