In [61]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

filename = "../archive (2)/TWO_CENTURIES_OF_UM_RACES.csv"
df = pd.read_csv(filename)
df

/var/folders/r6/y72_rzjs01v5mlmhssn_w27h0000gn/T/ipykernel_5858/1731223700.py:5: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename)

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID
0,2018,06.01.2018,Selva Costera (CHI),50km,22,4:51:39 h,Tnfrc,CHI,1978.0,M,M35,10.286,0
1,2018,06.01.2018,Selva Costera (CHI),50km,22,5:15:45 h,Roberto Echeverría,CHI,1981.0,M,M35,9.501,1
2,2018,06.01.2018,Selva Costera (CHI),50km,22,5:16:44 h,Puro Trail Osorno,CHI,1987.0,M,M23,9.472,2
3,2018,06.01.2018,Selva Costera (CHI),50km,22,5:34:13 h,Columbia,ARG,1976.0,M,M40,8.976,3
4,2018,06.01.2018,Selva Costera (CHI),50km,22,5:54:14 h,Baguales Trail,CHI,1992.0,M,M23,8.469,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7461190,1995,00.00.1995,La SainteLyon 65 km (FRA),65km,2,4:33:20 h,NaN,FRA,NaN,M,NaN,14268.0,1151060
7461191,1995,00.00.1995,La SainteLyon 65 km (FRA),65km,2,6:05:15 h,NaN,FRA,NaN,F,NaN,10678.0,1073520
7461192,1995,00.00.1995,Szombathely 24 hours running Race (HUN),24h,3,241.000 km,*Budapest,HUN,1950.0,M,M40,10042.0,1047373
7461193,1995,00.00.1995,Szombathely 24 hours running Race (HUN),24h,3,228.000 km,*Szeged,HUN,1959.0,M,M35,9500.0,380150
7461194,1995,00.00.1995,Szombathely 24 hours running Race (HUN),24h,3,224.000 km,*Pecs,HUN,1958.0,M,M35,9333.0,1070482

In [62]:
# most recent 10 years
year_cutoff = df['Year of event'].max() - 10
print(len(df))
df = df.dropna()
df = df.drop_duplicates()
print(len(df))
year_inds = df['Year of event'] >= year_cutoff
df = df[year_inds]
print(len(df))

7461195
4419663
2934506

In [63]:
df["Event distance/length"]

0          50km
1          50km
2          50km
3          50km
4          50km
           ...
6823922    50km
6823923    50km
6823924    50km
6823925    50km
6823926    50km
Name: Event distance/length, Length: 2934506, dtype: object

In [65]:
distance = df["Event distance/length"]
# distance.to_string()
non_time_km = distance.str.contains('km', regex=False)
non_time_mi = distance.str.endswith('mi')
df1 = df[non_time_km]
df2 = df[non_time_mi]
print(len(df1))
print(len(df2))


conversion_kit = df2["Event distance/length"]
print(conversion_kit)
miles = conversion_kit.str.rstrip('miles')
miles = miles.str.rstrip('mile')
miles = miles.str.rstrip('mi')
print(miles)

miles = miles.str.replace('37,5','37.5')
miles = miles.str.replace('52,5','52.5')
miles = miles.str.replace('52,4','52.4')
miles = miles.str.replace('67,5','67.5')

# print(miles[55])
# miles[miles.str.contains(',')]
mi_to_km = 1.60934 * miles.astype(float)
print('In kms')
print(mi_to_km)

2377292
339092
55          50mi
56          50mi
57          50mi
58          50mi
59          50mi
           ...
6822564    120mi
6822565    120mi
6822566    120mi
6822567    120mi
6822568    120mi
Name: Event distance/length, Length: 339092, dtype: object
55          50
56          50
57          50
58          50
59          50
          ...
6822564    120
6822565    120
6822566    120
6822567    120
6822568    120
Name: Event distance/length, Length: 339092, dtype: object
In kms
55          80.4670
56          80.4670
57          80.4670
58          80.4670
59          80.4670
             ...
6822564    193.1208
6822565    193.1208
6822566    193.1208
6822567    193.1208
6822568    193.1208
Name: Event distance/length, Length: 339092, dtype: float64